body {
   background-image: url("bg.png");
   text-align: center;
   /*Just one more font, incase arial doesn't work (also declare "sans-serif")*/
   font-family: Arial, Helvetica, sans-serif;
   background-size:cover;
}

/*Removed title in index
#title{
   font-size:20px;
   padding: 20px;
}*/

.container{
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#login_container {
   width: 400px; /*Could be changed to % e.g. width: 30%;*/
   height: 500px; /*Same as above*/
   border: 3px #ffffff;
   border-radius: 25px;
   background: #ffffff;
   padding: 20px;
}

.button{
   background-color: #007ec7; /* Green */
   border-radius: 25px;
   border: 1px #3874ce;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   /*added margin here*/
   margin: 0.9rem;
}

/*Add something for when hovering over log in button*/
.button:hover{
   background-color: #262223;
}

/*The image margin*/
p img {
   margin: 2rem;
}

input {
   padding: 5px; /*Use rem or em*/
   border-radius: 4px;
   border: 1px solid gray;
   /*Added margin*/
   margin: 0.5rem;
}