body {
   background-image: url("bg.png");
   text-align: center;
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   color: #262223;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.container{
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#login_container {
   width: 400px; 
   height: 500px;
   border: 3px #ffffff;
   border-radius: 25px;
   background: #ffffff;
   padding: 20px;
}

.button{
   background-color: #007ec7; /* Green */
   border-radius: 25px;
   border: 1px #3874ce; 
   color: white;
   padding: 12px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   /*added margin here*/
   margin: 0.9rem;
   /*Perhaps uppercase letters?*/
   text-transform: uppercase;
   outline: none;
}

/*Added something for when hovering over log in button*/
.button:hover{
   background-color: #262223;
}

/*The image margin*/
p img {
   margin: 1.7rem;
}

input {
   padding: 5px; /*Use rem or em*/
   border-radius: 4px;
   border: 1px solid gray;
   /*Added margin*/
   margin: 0.5rem;
}

/*Navigation menu style*/
.menu {
   background-color: #413d3e;
   position: sticky;
   top: 0;
}

.menu li{
   display: inline-block;
   padding: 1.2rem 2rem;
}

.menu a{
   text-decoration: none;
   color: #ffffff;
   font-family: 'Poppins','Helvetica',sans-serif;
   font-size: 1.1rem;
   text-transform: capitalize;
}

.menu img {
   width: 50px;
   height: 50px;
   float: left;
   margin-left: 0.3rem;
   margin-top: 0.2rem;
}

#log_out {
   float: right;
   padding: 1.2rem;
}

.menu ul {
   display: inline;
}

/*Grid display for the overview page*/
#overview_cont{
   display: grid;
   grid-template-columns: 0.2fr 1fr;
}

/*same font for many buttons etc...*/
#overview_cont, .room, .ins_button, .slot, .change_week, input[type=text], textarea, input[type=submit]{
   font-family: 'Poppins','Helvetica',sans-serif;
}

.grid {
   background-color: #ffffffb6;
   padding: 0.8rem;
   border-radius: 10px;
}

.grid_room {
   margin: 1rem 0.5rem 1rem 1rem;
}

.grid_sched {
   margin: 1rem 1rem 1rem 0.5rem;
}

.grid h1, #button_container h1 {
   font-size: 1.4rem;
   font-weight: 600;
   text-transform: uppercase; 
   padding: 0.5rem;
   line-height: 1.8rem;
}

/*Room display*/
.room {
   padding: 0.5rem 0.8rem;
   width: 130px;
   border: none;
   outline: none;
   color:#20658C;
   border: 2px solid #20658C;
   background-color: #E8F4F2;
   font-size: 1rem;
   margin: 0.5rem;
   font-weight: 500;
}

.room:hover {
   background-color: #20658C;
   color: #E8F4F2;
}

.selected_room {
   background-color: #20658C;
   color: #E8F4F2;
}

/*Instrument display*/
.ins_button {
   border: none;
   outline: none;
   display: block;
   margin: auto;
   background-color: #ffffff00;
   padding: 0.2rem;
   color: #262223;
   text-transform: capitalize;
   font-size: 0.9rem;
}

.ins_button:hover, .selected_ins {
   text-decoration: underline;
}


/*Schedule display*/

#info_text {
   padding: 0.6rem;
   margin-bottom: 0.6rem;
}

.change_week {
   width: 75px;
   border: none;
   background-color:#413d3e;
   color: #ffffff;
   padding: 0.3rem;
   margin: 0.2rem;
}

#ins_table {
   margin-left: auto;
   margin-right: auto;
   margin-top: 1rem;
}

#date {
   background-color:#413d3e;
   color: #ffffff;
}

#date th, #timeSlots td {
   padding: 0.5rem;
   width: 100px;
}

.slot {
   padding: 0.5rem 1rem;
   width: 80px;
   border: none;
   outline: none;
   background-color: #20658C;
   color: #E8F4F2;

}

.slot:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.today, .menu li:hover {
   background-color: #F2AC57;
}

.non-available, .non-available:hover {
   background-color: #7d818065;
   box-shadow: none;
   color: #ffffff73;
}

/*Style for booking form*/
#booking_form {
   width: 600px;
   margin: auto;
   text-align: left;
   padding: 0.8rem;
   text-align: center;
}


#booking_form input[type=text] {
   background-color: #ffffff00;
   border: none;
   width: 180px;
   font-weight: 600; 
   font-size: 0.9rem;
}

#booking_form input[type=submit] {
   display: block;
   margin: auto;
   margin-top: 0.8rem;
   border: none;
   outline: none;
   background-color: #F2AC57;
   border-radius: 10px;
   padding: 0.5rem 1rem;
   color: #ffffff;
   font-size: 1rem;
}

#booking_form input[type=submit]:hover {
   background-color: #262223;
}

#booking_form textarea {
   display: block;
   background-color: #E8F4F2;
   margin: auto;
}

.active {
   background-color: #1EBA67;
}

/*Style for the submission message*/
.success_image {
   margin-bottom: 0.7rem;
} 

.success_message p {
   line-height: 1.6rem;
   margin-bottom: 1.2rem;
   font-size: 1rem;
}

/*My schedule page*/
.sched {
   margin: 1rem;
   float: left;
   width: 60%;
}

.book {
   margin: 1rem;
   float: left;
   width: 30%;
}

#revoke_submit {
   background-color: #20658C;
   color: #E8F4F2;
   border-radius: 10px;
   border: none;
   padding: 0.5rem 1rem;
}

#booking_menu {
   color:#014770;
   background-color:white;
   border-radius: 10px;
   border-color: #014770;
   padding: 0.25rem 0.5rem;
   margin: 1rem;
}

.book_list{
   background: white;
   margin-top: 1rem;
   margin-left: 28%;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   width:40%;
   line-height: 150%;
}

#revoke_message {
   padding: 0.5rem 1rem;
   font-size: 14px;
}

